@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}

.container-2{
    max-width: 1000px;
    margin: 0 auto;
}

header{
    padding: 2rem 0;
    cursor: pointer;
}

header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem ;
    border-bottom: solid gray 1px;
}

header nav .left-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .left-nav h1{
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

header nav .left-nav h1 img{
    width: 3rem;
    height: 3rem;
}

header nav .left-nav input[type=text]{
    font-size: 1rem;
    font-weight: 500;
    color: black;
    width: 15rem;
    height: 2.4rem;
    padding: 0.4rem;
    border: gray solid 1px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    text-align: center;
    border-right: none;
}

input[type=text]{
    outline: none;
}

header nav .left-nav button{
    padding: 0.5rem;
    background-color: white;
    border: gray solid 1px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left: none;
}

header nav .left-nav button img{
    width: 1.1rem;
    height: auto;
}

header nav .right-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header nav .right-nav a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    transition: .5s;
    display: flex;
    align-items: center;
    padding:0.5rem 0.8rem;
    border-radius: 20px;
}

header nav .right-nav a img{
    width: 1.5rem;
    height: 1.5rem;
}

header nav .right-nav a:hover{
    border: black solid;
    color: red;
}

header nav .right-nav button{
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 0.8rem;
    border: none;
}

header nav .right-nav button:hover{
    background-color: red;
}

header main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

header main h1{
    width: 100%;
    text-align: start;
    font-size: 2rem;
    font-weight: bold;
}

header main h1 span{
    color: red;
}

header main .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header main .list a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    border:black solid 2px;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    transition: .5s;
}

header main .list a:hover{
    background-color: rgb(51, 223, 161);
    border: none;
    box-shadow: 0px 0px 10px #888888;
}

header main .list a img{
    width: 2.5rem;
    height: 2.5rem;
}
.top-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top-sec .walpaper{
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    height: 440px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.top-sec .walpaper .new-1{
    width: 800px;
    height: 440px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    transition: .5s ease;
}

.top-sec .walpaper .new-2{
    width: 500px;
    height: 220px;
    border-top-right-radius: 25px;
    transition: .5s ease;
}

.top-sec .walpaper .new-3{
    width: 500px;
    height: 220px;
    border-bottom-right-radius: 25px;
    transition: .5s ease;
}

.top-sec .walpaper .new-1:hover{
    opacity: 0.7;
}

.top-sec .walpaper .new-2:hover{
    opacity: 0.7;
}

.top-sec .walpaper .new-3:hover{
    opacity: 0.7;
}

.top-sec h6{
    width: 100%;
    text-align: start;
    font-size: 1rem;
    font-weight: 500;
    transition: .5s ease;
    margin-top: 1rem;
}

.top-sec h6:hover{
    text-decoration: underline solid black;
}


.intro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}

.intro .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.intro .info h1{
    font-size: 2rem;
    font-weight: bold;
}

.intro .info p{
    font-size: 1.2rem;
    font-family: 500;
    margin-top: 1rem;
}

.intro .map{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ff5d5d;
    border-radius: 25px;
    width: 40%;
    text-align: center;
}

.intro .map img{
    width: 100%;
    height: auto;
    border-bottom-left-radius:25px;
    border-bottom-right-radius: 25px;
    border: black solid 1px;
}

.intro .map h1{
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 1rem 0;
}

.intro .map p{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.intro .map a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 0.8rem;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    margin: 0.5rem;
    transition: .5s ease;
    text-align: center;
}

.intro .map a:hover{
    opacity: 0.7;
}

.location{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.location .location-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.location .location-heading .liti{
    width: 30rem;
    height: 0.2rem;
    background-color: black;
} 

.location .location-heading h1{
    font-size: 2rem;
    font-weight: bold;
    padding: 0 0.3rem;
}

.location .location-info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.location .location-info .location-card{
    width: 19rem !important;
    height: auto;
    background-color: #faf1ed;
    margin: 0 0.5rem;
    padding-bottom: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s ease;
}

.location .location-info .location-card:hover{
    opacity: 0.7;
    text-decoration: underline black solid;
}

.location .location-info .location-card img{
    width: 100%;
    height: auto;
}

.location .location-info .location-card h1{
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    transition: .5s ease;
}

.location .location-info .location-card h1:hover{
    text-decoration: black solid underline;
}

.location .location-info .location-card a {
    background-color: white;
    padding: 0.5rem;
    border-radius: 50%;
    transition: .6s ease;
    position: relative;
    top: -16rem;
    left: 8rem;
}

.location .location-info .location-card a img{
    width: 1.2rem;
    height: 1.2rem;
}

.location .location-info .location-card a:hover{
    background-color: red;
}

.rest{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.rest .rest-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.rest .rest-heading .doro{
    width: 28rem;
    height: 0.1rem;
    background-color: black;
}

.rest .rest-heading h1{
    font-size: 2rem;
    font-weight: bold;
    padding: 0 0.3rem;
}

.rest .rest-info{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    margin-top: 3rem;
    width: 100%;
}

.rest .rest-info .left-rest{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 30%;
}

.rest .rest-info .multiple-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.rest .rest-info .multiple-items .rest-card{
    width: 18rem !important;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    padding-bottom: 1rem;
    background-color: #faf1ed;
    margin: 0 0.2rem;
    transition: .5s ease;
}

.rest .rest-info .multiple-items .rest-card:hover{
    text-decoration: underline solid black;
    opacity: 0.7;
}

.rest .rest-info .multiple-items .rest-card .top-1{
    width: 100%;
    height: auto;
}

.rest .rest-info .multiple-items .rest-card .dill{
    display: flex;
    align-items: center;
    justify-content: center;
}

.rest .rest-info .multiple-items .rest-card .dill img{
    width: 1.2rem;
    height: 1.2rem;
}

.rest .rest-info .multiple-items .rest-card .dill h6{
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0 0.3rem;
    padding: 0 0.1rem;
}

.rest .rest-info .multiple-items .rest-card p{
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0 0.1rem;
    text-transform: capitalize;
}

.rest .rest-info .multiple-items .rest-card h4{
    font-size: 1rem;
    font-weight: 600;
    padding: 0 0.1rem;
    text-transform: capitalize;
}

.rest .rest-info .multiple-items .rest-card a{
    position: relative;
    border-radius: 50%;
    background-color: white;
    top: -17rem;
    left: 15.5rem;
    padding: 0.5rem;
    transition: .5s ease;
}

.rest .rest-info .multiple-items .rest-card a:hover{
    background-color: red;
}

.rest .rest-info .multiple-items .rest-card a img{
    width: 1.2rem;
    height: 1.2rem;
}

.food{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}

.food .left-food{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 30%;
}

.food .left-food h1{
    font-size: 2rem;
    font-weight: bold;
}

.food .left-food p{
    font-size: 1rem;
    font-weight: 500;
}


.food .multiple-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.food .multiple-items .food-card{
    width: 18rem !important;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    padding-bottom: 1rem;
    background-color: #faf1ed;
    margin: 0 0.2rem;
    transition: .5s ease;
}

.food .multiple-items .food-card:hover{
    text-decoration: underline solid black;
    opacity: 0.7;
}

.food .multiple-items .food-card .top-1{
    width: 100%;
    height: 14rem;
}

.food .multiple-items .food-card .dill{
    display: flex;
    align-items: center;
    justify-content: center;
}

.food .multiple-items .food-card .dill img{
    width: 1.2rem;
    height: 1.2rem;
}

.food .multiple-items .food-card .dill h6{
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0 0.3rem;
    padding: 0 0.1rem;
}

.food .multiple-items .food-card p{
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0 0.1rem;
    text-transform: capitalize;
}

.food .multiple-items .food-card h4{
    font-size: 1rem;
    font-weight: 600;
    padding: 0 0.1rem;
    text-transform: capitalize;
}

.food .multiple-items .food-card a{
    position: relative;
    border-radius: 50%;
    background-color: white;
    top: -17rem;
    left: 15.5rem;
    padding: 0.5rem;
    transition: .5s ease;
}

.food .multiple-items .food-card a:hover{
    background-color: red;
}

.food .multiple-items .food-card a img{
    width: 1.2rem;
    height: 1.2rem;
}

.play{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}

.play .left-play{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 30%;
}

.play .left-play h1{
    font-size: 2rem;
    font-weight: bold;
}

.play .left-play p{
    font-size: 1rem;
    font-weight: 500;
}


.play .multiple-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.play .multiple-items .play-card{
    width: 18rem !important;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    padding-bottom: 1rem;
    background-color: #faf1ed;
    margin: 0 0.2rem;
    transition: .5s ease;
}

.play .multiple-items .play-card:hover{
    text-decoration: underline solid black;
    opacity: 0.7;
}

.play .multiple-items .play-card .top-1{
    width: 100%;
    height: 14rem;
}

.play .multiple-items .play-card .dill{
    display: flex;
    align-items: center;
    justify-content: center;
}

.play .multiple-items .play-card .dill img{
    width: 1.2rem;
    height: 1.2rem;
}

.play .multiple-items .play-card .dill h6{
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0 0.3rem;
    padding: 0 0.1rem;
}

.play .multiple-items .play-card p{
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0 0.1rem;
    text-transform: capitalize;
}

.play .multiple-items .play-card h4{
    font-size: 1rem;
    font-weight: 600;
    padding: 0 0.1rem;
    text-transform: capitalize;
}

.play .multiple-items .play-card a{
    position: relative;
    border-radius: 50%;
    background-color: white;
    top: -18rem;
    left: 15.5rem;
    padding: 0.5rem;
    transition: .5s ease;
}

.play .multiple-items .play-card a:hover{
    background-color: red;
}

.play .multiple-items .play-card a img{
    width: 1.2rem;
    height: 1.2rem;
}

.traveler{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
}

.traveler .travel-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.traveler .travel-heading .liti{
    width: 30rem;
    height: 0.1rem;
    background-color: black;
}

.traveler .travel-heading h1{
    font-size: 2rem;
    font-weight: bold;
    padding: 0 0.2rem;
}

.traveler .travel-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}

.traveler .travel-info .travel-card{
    width: 25rem;
    height: 34rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    text-align: center;
    background-color: #faf1ed;
}

.traveler .travel-info .travel-card .top-pic{
    width: 100%;
    height: auto;
}

.traveler .travel-info .travel-card .tourist{
    width: 4rem;
    height: 4rem;
    position: relative;
    border-radius: 50%;
    top: -2rem;
}

.traveler .travel-info .travel-card h4{
    font-size: 1rem;
    font-weight: 600;
    margin-top: -1rem;
}

.traveler .travel-info .travel-card h1{
    font-size: 1.4rem;
    font-weight: 700;
}

.traveler .travel-info .travel-card p{
    font-weight: 500;
    font-size: 1rem;
}

.traveler .travel-info .travel-card .like{
    width: 2rem;
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.news{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #faf1ed;
    border-radius: 25px;
    margin-top: 3rem;
}

.news .left-news{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 45%;
    padding-left: 1rem;
}

.news .left-news h1{
    font-size: 2rem;
    font-weight: bold;
}

.news .left-news a{
    text-decoration: none;
    color: white;
    background-color: #0e2c23;
    border-radius: 12px;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
}

.news img{
    width: 50%;
    height: auto;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.forum{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.forum .top-for{
    width: 14rem;
    height: auto;
}

.forum .forum-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.forum .forum-heading .doro{
    background-color: black;
    width: 28rem;
    height: 0.1rem;
}

.forum .forum-heading h1{
    font-size: 2rem;
    font-weight: bold;
    padding: 0 0.2rem;
}

.forum .forum-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;
}

.forum .forum-info .forum-card{
    width: 25rem;
    height: 10rem;
    background-color: #faf1ed;
    padding: 1rem;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.forum .forum-info .forum-card h1{
    font-size: 1.2rem;
    font-weight: bold;
    transition: .5s ease;
}

.forum .forum-info .forum-card h1:hover{
    text-decoration: underline black solid;
}

.forum .forum-info .forum-card .forum-1{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.forum .forum-info .forum-card .forum-1 img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.forum .forum-info .forum-card .forum-1 h2{
    font-size: 0.9rem;
    font-weight: 500;
    transition: .5s ease;
}

.forum .forum-info .forum-card .forum-1 h2:hover{
    text-decoration: underline solid black;
}


footer .second-foot{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}

footer .second-foot .left-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer .second-foot .left-bar .logo img{
    width: 3rem;
    height: 3rem;
}

footer .second-foot .left-bar .logo-text h6{
    font-size: 1rem;
    font-weight: bold;
    color: gray;
}

footer .second-foot .left-bar .logo-text a{
    color: black;
    font-size: 0.8rem;
    font-weight: 600;
    transition: .5s ease;
    padding: 0.2rem;
}

footer .second-foot .left-bar .logo-text a:hover{
    color: blue;
    text-decoration: none;
}

footer .second-foot .right-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
}

footer .second-foot .right-bar input[type=text]{
    font-size: 0.8rem;
    font-weight: 500;
    color: black;
    border-radius: 10px;
    border: none;
    width: 10rem;
    height: 2rem;
    padding: 0 0.3rem;
}

input[type=text]:focus{
    outline: none;
}

footer .second-foot .right-bar button{
    font-size: 0.7rem;
    font-weight: 500;
    color: white;
    background-color: black;
    padding: 0.4rem;
    border-radius: 20px;
    transition: .5s ease;
    cursor: pointer;
}

footer .second-foot .right-bar button:hover{
    opacity: 0.7;
    background-color: blue;
}

footer .last-foot{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer .last-foot p{
    font-size: 0.6rem;
    font-weight: 400;
    color: gray;
    width: 50%;
}

footer .last-foot .contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

footer .last-foot .contact a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    transition: .5s ease;
}

footer .last-foot .contact a:hover{
    color: blue;
}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #faf1ed;
    cursor: pointer;
    padding-bottom:3rem;
    margin-top: 2rem;
}

/* media quarry */


@media(max-width:1350px){
    .forum .forum-info{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
    }
    .forum .forum-info .forum-card{
        margin-top: 1rem;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }
    .top-sec .walpaper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        max-width: 1300px;
    }
    .top-sec .walpaper .new-1{
        width: 100%;
        border-radius: 0;
    }
    .top-sec .walpaper .new-2{
        width: 50%;
        border-radius: 0;
    }
    .top-sec .walpaper .new-3{
        border-radius: 0;
        width: 50%;
    }
    .top-sec .walpaper {
        width: 100%;
        height: auto;
    }
    .top-sec{
        padding-top: 0;
    }
    header {
        padding-bottom: 0;
    }
    .location .location-info{
        max-width: 1000px;
    }
    .rest .rest-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .rest .rest-info .left-rest{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 1rem;
    }
    .rest .rest-info .multiple-items {
        max-width: 1000px;
    }
    .food {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .food .left-food{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 1rem;
    }
    .food .multiple-items{
        max-width: 1000px;
    }
    .play {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .play .left-play{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-bottom: 1rem;
    }
    .play .multiple-items{
        max-width: 1000px;
    }
    .traveler .travel-heading .liti{
        width: 20rem;
    }
    .traveler .travel-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        max-width: 1250px;
    }
    .traveler .travel-info .travel-card{
        margin: 0.4rem 0.5rem;
    }
    .forum .forum-heading .doro{
        width: 18rem;
    }
}


@media(max-width:1000px){
    footer .second-foot{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer .last-foot {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
    }
    footer .last-foot p{
        width: 80%;
    }
    header main .list{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
    }
    header main .list a{
        font-size: 1rem;
        font-size: 500;
        padding: 0.3rem 0.5rem;
        border: none;
    }
    .intro .info h1{
        font-size: 1.4rem;
    }
    .intro .info p{
        font-size: 0.8rem;
    }
    .intro .map h1{
        font-size: 1rem;
    }
    .intro .map p{
        font-size: 0.8rem;
        font-weight: 600;
    }
    .advice .heading .liti{
        width: 18rem;
    }
    .advice .heading h1{
        font-size: 1.4rem;
    }
    .advice .advice-info{
        display: flex;
        align-items: center;
        justify-content:center;
        flex-flow: row wrap;
    }
    .advice .advice-info a{
        margin: 0.3rem ;
    }
    .forum .forum-heading .doro{
        width: 15rem;
    }
    .forum .forum-heading h1{
        font-size: 1.4rem;
    }
    .forum .top-forums{
        width: 10rem;
    }
    .home .home-heading .doro{
        width: 14rem;
    }
    .home .home-heading h1{
        font-size: 1.4rem;
    }
    .container{
        max-width: 1000px;
    }
    .location .location-heading .liti{
        display: none;
    }
    .rest .rest-heading .doro{
        display: none;
    }
    .traveler .travel-heading .liti{
        display: none;
    }
}

@media(max-width:850px){
    header nav .left-nav input{
        display: none;
    }
    header nav .left-nav button{
        display: none;
    }
    .news{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .news img{
        width: 100%;
        border-radius: 25px;
    }
    .news .left-news{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .rest .rest-info .multiple-items{
        width: 90%;
    }
    .rest .rest-info .multiple-items .rest-card{
        width: 15rem !important;
        height: 16rem;
    }
    .rest .rest-info .multiple-items .rest-card h4{
        font-size: 0.8rem;
    }
    .rest .rest-info .multiple-items .rest-card .dill img{
        display: none;
    }
    .rest .rest-info .multiple-items .rest-card .dill h6{
        font-size: 0.7rem;
    }
    .rest .rest-info .multiple-items .rest-card a{
        display: none;
    }
    .food .multiple-items{
        width: 90%;
    }
    .food .multiple-items .food-card{
        width: 15rem !important;
        height: 16rem;
    }
    .food .multiple-items .food-card h4{
        font-size: 0.8rem;
    }
    .food .multiple-items .food-card .dill img{
        display: none;
    }
    .food .multiple-items .food-card .dill h6{
        font-size: 0.7rem;
    }
    .food .multiple-items .food-card a{
        display: none;
    }
    .food .multiple-items .food-card p{
        font-size: 0.8rem;
    }
    .food .multiple-items .food-card .top-1{
        width: 100%;
        height: 10rem;
    }
    .play .multiple-items {
        width: 90%;
    }
    .play .multiple-items .play-card{
        width: 15rem !important;
        height: 16rem;
    }
    .play .multiple-items .play-card h4{
        font-size: 0.8rem;
    }
    .play .multiple-items .play-card .dill img{
        display: none;
    }
    .play .multiple-items .play-card .dill h6{
        font-size: 0.7rem;
    }
    .play .multiple-items .play-card a{
        display: none;
    }
    .play .multiple-items .play-card .top-1{
        width: 100%;
        height: 10rem;
    }
    .forum .top-for{
        width: 10rem;
    }
}

@media(max-width:650px){
    .location .location-info{
        width: 90%;
    }
    .location .location-info .location-card{
        width: 15rem !important;
        height: auto;
    }
    .forum .forum-heading .doro{
        display: none;
    }
    .news{
        padding-bottom: 1rem;
    }
    .intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .intro .info{
        width: 100%;
        text-align: center;
    }
    .intro .map{
        width: 70%;
    }
}

@media(max-width:570px){
    header nav .right-nav button{
        display: none;
    }
    header nav .right-nav a{
        font-size: 0.9rem;
    }
    header nav .right-nav a img{
        width: 1.5rem;
    }
    header {
        padding-top: 1rem;
    }
    header main .list a{
        font-size: 0.9rem;
    }
    .location .location-info{
        display: none;
    }
    .location{
        display: none;
    }
    .rest .rest-info .multiple-items .rest-card{
        width: 13rem !important;
        height: 14rem;
    }
    .rest .rest-info .multiple-items .rest-card p{
        display: none;
    }
    .play .left-play{
        width: 100%;
    }
    .food .left-food{
        width: 100%;
    }
    .food .multiple-items .food-card{
        width: 13rem !important;
        height: 14rem;
    }
    .food .multiple-items .food-card p{
        display: none;
    }
    .play .multiple-items .play-card{
        width: 13rem !important;
        height: 14rem;
    }
    .play .multiple-items .play-card p{
        display: none;
    }
}


@media(max-width:480px){
    header nav .right-nav a{
        padding: 0 0.1rem;
    }
    header main h1{
        font-size: 1.4rem;
    }
    header nav .left-nav h1{
        font-size: 1.4rem;
    }
    .intro .map{
        width: 70%;
    }
}


@media(max-width:400px){
    footer .second-foot .right-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        max-width: 300px;
    }
    footer .second-foot .right-bar input{
        margin-top: 1rem;
    }
    .intro .map{
        width: 100%;
        margin-top: 1rem;
    }
}

/* end */