@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}

.container-2{
    max-width: 1000px;
    margin: 0 auto;
}

header{
    padding: 2rem 0;
    cursor: pointer;
}

header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem ;
    border-bottom: solid gray 1px;
}

header nav .left-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .left-nav h1{
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

header nav .left-nav h1 img{
    width: 3rem;
    height: 3rem;
}

header nav .left-nav input[type=text]{
    font-size: 1rem;
    font-weight: 500;
    color: black;
    width: 15rem;
    height: 2.4rem;
    padding: 0.4rem;
    border: gray solid 1px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    text-align: center;
    border-right: none;
}

input[type=text]{
    outline: none;
}

header nav .left-nav button{
    padding: 0.5rem;
    background-color: white;
    border: gray solid 1px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left: none;
}

header nav .left-nav button img{
    width: 1.1rem;
    height: auto;
}

header nav .right-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header nav .right-nav a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    transition: .5s ease;
    display: flex;
    align-items: center;
    padding:0.5rem 0.8rem;
    border-radius: 20px;
}

header nav .right-nav a img{
    width: 1.5rem;
    height: 1.5rem;
}

header nav .right-nav a:hover{
    border: black solid;
    color: red;
}

header nav .right-nav button{
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 0.8rem;
    border: none;
}

header nav .right-nav button:hover{
    background-color: red;
}

header main{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: gray solid 1px;
}

header main a{
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.2rem 0.5rem;
    transition: .5s ease;
}

header main a:hover{
    color: blue;
}

header main a img{
    width: 1.8rem;
    height: 1.8rem;
}

header p{
    font-size: 0.8rem;
    font-weight: 400;
    color: black;
    padding: 1rem 0;
}

header p span{
    font-weight: 600;
    text-decoration: underline black solid;
}

.top-side{
    text-align: center;
    background-color: #faf1ed;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top-side h1{
    font-size: 3rem;
    font-weight: bold;
    width: 60%;
}

.top-side h2{
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem;
}

.center-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

.center-side p{
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 2rem;
}

.center-side p span{
    text-decoration: underline solid black;
    cursor: pointer;
}

.center-side h1{
    padding: 0.5rem 0;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: gray solid 1px;
    margin-top: 3rem;
}

.center-side img{
    width: 100%;
    height: auto;
    margin-top: 2rem;
}

.center-side a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    background-color: black;
    padding: 1rem;
    border-radius: 20px;
    transition: .5s ease;
    margin-top: 2rem;
    width: 39%;
    text-align: center;
}

.center-side a:hover{
    color: black;
    background-color: red;
}

.review{
    background-color: #faf1ed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
}

.review .name{
    display: flex;
    align-items: center;
    justify-content: center;
}

.review .name h1{
    font-size: 2rem;
    font-weight: bold;
    color: black;
    padding: 0 0.5rem;
}

.review .name img{
    border-radius: 50%;
}

.review .text{
    font-size: 1.2rem;
    font-weight: 600;
}


footer .second-foot{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}

footer .second-foot .left-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer .second-foot .left-bar .logo img{
    width: 3rem;
    height: 3rem;
}

footer .second-foot .left-bar .logo-text h6{
    font-size: 1rem;
    font-weight: bold;
    color: gray;
}

footer .second-foot .left-bar .logo-text a{
    color: black;
    font-size: 0.8rem;
    font-weight: 600;
    transition: .5s ease;
    padding: 0.2rem;
}

footer .second-foot .left-bar .logo-text a:hover{
    color: blue;
    text-decoration: none;
}

footer .second-foot .right-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
}

footer .second-foot .right-bar input[type=text]{
    font-size: 0.8rem;
    font-weight: 500;
    color: black;
    border-radius: 10px;
    border: none;
    width: 10rem;
    height: 2rem;
    padding: 0 0.3rem;
}

input[type=text]:focus{
    outline: none;
}

footer .second-foot .right-bar button{
    font-size: 0.7rem;
    font-weight: 500;
    color: white;
    background-color: black;
    padding: 0.4rem;
    border-radius: 20px;
    transition: .5s ease;
    cursor: pointer;
}

footer .second-foot .right-bar button:hover{
    opacity: 0.7;
    background-color: blue;
}

footer .last-foot{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer .last-foot p{
    font-size: 0.6rem;
    font-weight: 400;
    color: gray;
    width: 50%;
}

footer .last-foot .contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

footer .last-foot .contact a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    transition: .5s ease;
}

footer .last-foot .contact a:hover{
    color: blue;
}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #faf1ed;
    cursor: pointer;
    padding-bottom:3rem;
    margin-top: 2rem;
}

/* media */

@media(max-width:1300px){
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    header main{
        max-width: 800px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row wrap;
    }
    header nav{
        width: 100%;
    }
}

@media(max-width:1200px){
    .top-side{
        width: 100%;
    }
    .top-side img{
        width: 100%;
    }
    .top-side h1{
        font-size: 1.5rem;
    }
    header{
        padding: 0;
        padding-top: 1rem ;
    }
    footer .second-foot .left-bar {
        width: 45%;
    }
    footer .second-foot .right-bar{
        width: 45%;
    }
}

@media(max-width:1000px){
    .center-side {
        text-align: center;
    }
    .center-side p{
        font-size: 1rem;
        margin-top: 1rem;
    }
    .center-side h1{
        font-size: 1.6rem;
        margin-top: 1.4rem;
    }
    .center-side img{
        width: 100%;
    }
    .center-side {
        width: 100%;
    }
    .review {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .review .name img{
        width: 4rem;
        height: 4rem;
    }
    .review .text p{
        font-size: 1rem;
    }
}

@media(max-width:850px){
    header nav .right-nav a{
        display: none;
    }
    header main {
        max-width: 100%;
    }
    footer{
        padding-bottom: 1.5rem;
    }
    footer .second-foot{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    footer .second-foot .left-bar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
    footer .second-foot .right-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;
        margin-top: 0.5rem;
    }
    footer .last-foot{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 0.8rem;
        text-align: center;
    }
    footer .last-foot p{
        width: 80%;
    }
    footer .last-foot .contact{
        margin-top: 0.4rem;
    }
}

@media(max-width:650px){
    .review .name h1{
        font-size: 1rem;
    }
    .review .text p{
        font-size: 0.9rem;
    }
    .review {
        padding: 1rem 0;
    }
    .center-side a{
        font-size: 0.8rem;
        font-weight: 500;
        padding: 0.8rem 0.5rem;
    }
    .center-side p{
        font-size: 0.8rem;
        margin-top: 0.6rem;
    }
    .center-side h1{
        font-size: 1.4rem;
        margin-top: 1rem;
    }
    .center-side img{
        margin-top: 0.5rem;
    }
    .top-side h1{
        font-size: 1rem;
    }
    header nav .left-nav input{
        display: none;
    }
    header nav .left-nav button{
        display: none;
    }
}

@media(max-width:430px){
    footer .second-foot .right-bar{
        width: 100%;
    }
}

@media(max-width:370px){
    header nav .left-nav h1{
        font-size: 1.2rem;
    }
    header nav .right-nav button{
        font-size: 0.8rem;
        padding: 0.8rem 0.6rem;
    }
    header nav {
        padding-bottom: 0.5rem;
    }
    header main{
        padding: 0.5rem 0;
    }
    .top-side{
        padding: 1rem 0;
    }
    .center-side{
        padding: 1rem 0;
    }
    footer .second-foot .right-bar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:center;
        max-width: 100%;
        flex-flow: row wrap;
        text-align: center;
    }
    footer .second-foot .right-bar button{
        margin-top: 0.4rem;
    }
    footer .last-foot p{
        font-size: 0.5rem;
        width: 100%;
    }
    footer .last-foot .contact{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 50%;
    }
    footer .last-foot .contact a{
        font-size: 1.5rem;
    }
    .review .text p{
        font-size: 0.8rem;
        font-weight: 600;
    }
    .center-side a{
        width: 200px;
    }
}
/* end */

